<div class="card-header">
<!--  <img class="imgLogo" src="assets/images/logo.png" alt="logo"/>-->
  <nav class=" mb-5 pt-0" style="margin-bottom: 50px;">
    <a [routerLinkActive]="['active']" [routerLink]="['/home']". [routerLinkActiveOptions]="{exact: true}">À PROPOS </a>
    <a [routerLink]="['/competences']" >COMPÉTENCES</a>
    <a [routerLink]="['/parcours']">PARCOURS</a>
    <a [routerLink]="['/realisations']">RÉALISATIONS</a>
    <a [routerLink]="['/contact']">CONTACT</a>
    <div class="animation start-home"></div>
  </nav>
</div>

<!--<div class="card-header">-->
<!--&lt;!&ndash;  <img class="imgLogo" src="assets/images/logo.png" alt="logo"/>&ndash;&gt;-->
<!--  <nav class=" mb-5 pt-0" style="margin-bottom: 50px;" *ngFor="let item of items">-->
<!--    <a [routerLink]="['/'+{{item}}]">{{item.name}} </a>-->

<!--    <div class="animation start-home"></div>-->
<!--  </nav>-->
<!--</div>-->
