<app-head></app-head>
<app-header></app-header>

<div class="card-header h-auto" style="display: flex !important; padding-top: 50px; padding-bottom: 50px;">
    <div class="card-container">
        <div class="card card1">
            <div class="mb-2"><img src="assets/images/portrait.png" height="150" width="150px" /></div>
            <h3 class="mb-2"><b> Sofiane IDRI</b></h3>
            <br />
            <div class="bordure"></div>
            <div class="hight"></div>
            <b>
                <h6>
                    <span class="m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                            <path
                                d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z"
                            />
                        </svg>
                    </span>
                    +1 (438) 334 1230 
                </h6>
            </b>
            <br />
            <b>
                <h6>
                    <span class="m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                            <path
                                d="M215.4 96H144 107.8 96v8.8V144v40.4 89L.2 202.5c1.6-18.1 10.9-34.9 25.7-45.8L48 140.3V96c0-26.5 21.5-48 48-48h76.6l49.9-36.9C232.2 3.9 243.9 0 256 0s23.8 3.9 33.5 11L339.4 48H416c26.5 0 48 21.5 48 48v44.3l22.1 16.4c14.8 10.9 24.1 27.7 25.7 45.8L416 273.4v-89V144 104.8 96H404.2 368 296.6 215.4zM0 448V242.1L217.6 403.3c11.1 8.2 24.6 12.7 38.4 12.7s27.3-4.4 38.4-12.7L512 242.1V448v0c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64v0zM176 160H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16z"
                            />
                        </svg>
                    </span>

                    idri.sof3 &#64; gmail.com
                </h6>
            </b>
            <br />
            <b>
                <h6>
                    <span class="m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                        </svg>
                    </span>
                    Montréal 
                </h6>
            </b>
            <br />
            <b>
                <h6>
                    <span class="m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                            <path
                                d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"
                            />
                        </svg>
                    </span>
                    42 ans
                </h6>
            </b>
            <br />
            <b>
                <h6>
                    <span class="m-2">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                            <path
                                d="M0 96l576 0c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm0 32V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128H0zM64 405.3c0-29.5 23.9-53.3 53.3-53.3H234.7c29.5 0 53.3 23.9 53.3 53.3c0 5.9-4.8 10.7-10.7 10.7H74.7c-5.9 0-10.7-4.8-10.7-10.7zM176 192a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm176 16c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16z"
                            />
                        </svg>
                    </span>
                    Permis B / voiture
                </h6>
            </b>
            <br />
            <div class="hight"></div>
            <div class="layers">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
            </div>
        </div>
      <!-----------2 CARD --------------------------->
      <div class="card-container">
       <div class="card card3">
        <h3 class="mb-2"><b> Soft skills </b></h3>
        <br>
         <ul class="curved-round">
           <li><h6> Sens de l’organisation et de responsabilités</h6></li>
           <br>
           <li><h6>Rigoureux et persévérant</h6></li>
           <br>
           <li><h6>Sens de l’autonomie</h6></li>
           <br>
           <li><h6>Flexibilité et adaptabilité</h6></li>
        </ul>

        <div class="layers">
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
        </div>
      </div>
 </div>
      <!------------------ 2 CARD -------------------->
    </div>
    <div class="card-container">
        <div class="card card2">
            <h3 class="mb-1">À propos de moi</h3>
            <br />
            <p class="text-justify">Développeur full stack intermédiaire, je possède une expérience significative qui m’a permis de développer mon autonomie, mon sens de l’organisation et une maîtrise des différentes étapes du cycle de développement d’applications</p>
            <p class="text-justify">J’ai ainsi pu consolider les connaissances acquises au cours de ma formation et élargir mon éventail de compétences.</p>
            <p class="text-justify">
                Titulaire d'un DEC en Techniques de l'informatique – Programmation obtenu à l'Institut Grasset, j'ai ensuite rejoint une entreprise de développement informatique à Montréal. Durant trois années, j'y ai occupé un poste de développeur full stack, ce qui m'a permis de consolider mes compétences en développement web. J'ai travaillé principalement avec PHP pour le back-end et Angular ainsi que React pour le front-end, en participant à l'ensemble du cycle de développement des applications.
            </p>
            <p class="text-justify">J'ai travaillé dans un environnement Agile en utilisant divers outils de gestion de projet et de collaboration tels que Git, GitHub, Jira, Bitbucket et les tableaux Kanban. Cette méthodologie m'a permis de participer efficacement au suivi des tâches, à la gestion du code source et au travail collaboratif au sein de l'équipe.</p>

            <p class="text-justify">En 2023, j'ai intégré une formation professionnelle chez M2i Formation, axée sur les technologies Java, Spring Boot, Hibernate et Angular. Cette expérience m'a permis de renforcer mes compétences en développement d'applications web full stack, aussi bien sur la partie back-end que front-end, et de valider un diplôme de développeur full stack.</p>

            <p class="text-justify">
               Rigoureux, autonome et persévérant, je possède un bon sens de l'organisation et des responsabilités. Mes différentes expériences m'ont permis d'acquérir et de renforcer mes compétences sur les technologies suivantes : PHP, Java, Spring Boot, Angular et React, ainsi que sur les méthodologies et outils de développement modernes.
            </p>

            <p class="text-justify">
                Force de proposition, j'aime contribuer à l'amélioration continue des projets en suggérant des solutions pertinentes et des optimisations techniques. Attentif à la qualité du code, je veille à développer des applications performantes, maintenables et évolutives, dans le but de répondre efficacement aux attentes des utilisateurs et des clients. L'optimisation du code et le respect des bonnes pratiques de développement constituent des aspects essentiels de mon travail.
            </p>

            <p class="text-justify">Curieux et passionné par le développement, je profite de mon temps libre pour approfondir mes connaissances, expérimenter de nouvelles technologies et élargir mes compétences techniques dans différents domaines du développement informatique.</p>

            <p class="text-justify">Fort de mes expériences et de ma volonté de continuer à progresser, je suis actuellement à la recherche d'un nouveau défi professionnel dans le développement web, où je pourrai mettre en œuvre mes compétences en Java, Spring Boot, PHP, Angular et React tout en continuant à développer mon expertise.</p>

            <p class="text-justify">Je reste à votre disposition pour toute opportunité et serais ravi de contribuer à vos projets. Au plaisir d'échanger prochainement !</p>

            <div class="layers">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
            </div>
        </div>
    </div>
</div>
   

<app-footer></app-footer>
